<div class="d-flex flex-row justify-content-center container" [formGroup]="group">
    <div class="ms-3 col-md-2">
        <div><input type="text" 
                    class="form-control" 
                    placeholder="שם טיסה" 
                    [formControl]="flightNameControl"></div> 
    </div>
    <div class="ms-3 col-md-2">
            <div class="col-xs-12 col-12 col-md-12 form-group mb-3">
                <input type="text" 
                       placeholder="טווח תאריכי טיסה" 
                       class="form-control" 
                       [formControl]="datesControl"
                       bsDaterangepicker>
            </div>
    </div>
    <div class="ms-3 col-md-2">
        <select class="form-select form-select-md" [formControl]="countryControl" (change)="countryClicked($event)">
            <option value="null" selected>בחר מדינה</option>
            <option *ngFor="let country of (countries$ | async)" 
                    [value]="country.id" >{{ country.countryName }}</option> 
        </select>  
    </div>
    <div class="ms-3 col-md-2">
        <select class="form-select form-select-md" [formControl]="cityControl" (change)="cityClicked($event)">
           <option value="null" selected>בחר עיר</option>
           <option *ngFor="let city of (cities$ | async)" >{{ city.id }}</option> 
        </select>
</div>
    <div class="ms-3">
      <button type="button" 
              class="btn btn-primary" 
              data-bs-toggle="button"
              (click)="search()">חיפוש</button>
    </div>
</div>
<div class="m-3 d-flex flex-row justify-content-center container">
    <table class="table">
        <thead>
            <tr>
              <th>מספר טיסה</th>
              <th>שם טיסה</th>
              <th>תאריך טיסה</th>
              <th>מדינה</th>
              <th>עיר</th>
            </tr>
          </thead>
          <tbody *ngFor="let flight of (flights$ | async)">
            <tr>
                <td>{{flight.id}}</td>
                <td>{{flight.flightName}}</td>
                <td>{{flight.flightDate | date:'dd/MM/yyyy'}}</td>
                <td>{{flight.country.countryName}}</td>
                <td>{{flight.city.cityName}}</td>
            </tr>
          </tbody>
    </table>
    <!-- <div *ngFor="let flight of (flights$ | async)" class="flex_row">
        <div> {{ flight.id }}</div>
        <div> {{ flight.flightName }}</div>
    </div> -->
</div>
<div class="container dir-ltr">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
</div>